@font-face {
  font-family: "element-icons"; /* Project id 3977768 */
  src: url('iconfont.woff2?t=1680093972945') format('woff2'),
       url('iconfont.woff?t=1680093972945') format('woff'),
       url('iconfont.ttf?t=1680093972945') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-shenfenzheng:before {
  content: "\e614";
}

.el-icon-youxiang:before {
  content: "\e664";
}

.el-icon-dianhua:before {
  content: "\e88b";
}

.el-icon-password:before {
  content: "\e601";
}

.el-icon-user:before {
  content: "\e7ae";
}

