<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.AccountMapper">
    <insert id="insertAccount">
        insert into `account` (userId, accountType, accountMoney, accountState)
        values (#{userId}, #{accountType}, #{accountMoney}, #{accountState})
    </insert>

    <select id="selectAccount" resultType="Account">
        select *
        from `account`
        <where>
            <if test="accountId!=NULL">
                accountId = #{accountId}
            </if>
            <if test="userId!=NULL">
                and userId = #{userId}
            </if>
            <if test="accountType!=NULL">
                and accountType = #{accountType}
            </if>
            <if test="accountMoney!=NULL">
                and accountMoney = #{accountMoney}
            </if>
            <if test="accountState!=NULL">
                and accountState = #{accountState}
            </if>
        </where>
    </select>

    <update id="updateAccount">
        update `account`
        <set>
            <if test="accountMoney!=null">
                accountMoney = #{accountMoney},
            </if>
            <if test="accountState!=null">
                accountState = #{accountState},
            </if>
        </set>
        where accountId = #{accountId}
    </update>
</mapper>
