<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.FlowMapper">
    <insert id="insertFlow">
        insert into `flow` (accountIdFrom, accountIdTo, flowMoney, flowDate)
        values (#{accountIdFrom}, #{accountIdTo}, #{flowMoney}, #{flowDate})
    </insert>

    <select id="selectFlowByAccountId" resultType="Flow">
        select *
        from `flow`
        <where>
            <if test="flow.accountIdFrom!=null">
                accountIdFrom = #{flow.accountIdFrom}
            </if>
            <if test="flow.accountIdTo!=null">
                or accountIdTo = #{flow.accountIdTo}
            </if>
        </where>
        order by flowDate desc
        limit #{startRow}, #{num}
    </select>

    <select id="countFlowByAccountId" resultType="java.lang.Integer">
        select count(*)
        from `flow`
        <where>
            <if test="accountIdFrom!=null">
                accountIdFrom = #{accountIdFrom}
            </if>
            <if test="accountIdTo!=null">
                or accountIdTo = #{accountIdTo}
            </if>
        </where>
    </select>

</mapper>
