<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.OrderMapper">
    <select id="selectOrders" resultType="Order">
        select *
        from `order`
        <where>
            <if test="orderId!=null">
                orderId=#{orderId}
            </if>
            <if test="userId!=null">
                and userId=#{userId}
            </if>
            <if test="productId!=null">
                and productId=#{productId}
            </if>
            <if test="orderState!=null">
                and orderState=#{orderState}
            </if>
            <if test="orderDate!=null">
                and orderDate=#{orderDate}
            </if>
            <if test="orderMoney!=null">
                and orderMoney=#{orderMoney}
            </if>
        </where>
        <if test="startRow!=null and startRow>=0 and num!=null and num>=0">
            limit #{startRow},#{num}
        </if>
    </select>

    <select id="selectOrderById" resultType="Order">
        select * from `order`
        where orderId=#{orderId}
    </select>

    <select id="countOrders" resultType="int">
        select count(*)
        from `order`
        <where>
            <if test="orderId!=null">
                orderId=#{orderId}
            </if>
            <if test="userId!=null">
                and userId=#{userId}
            </if>
            <if test="productId!=null">
                and productId=#{productId}
            </if>
            <if test="orderState!=null">
                and orderState=#{orderState}
            </if>
            <if test="orderDate!=null">
                and orderDate=#{orderDate}
            </if>
            <if test="orderMoney!=null">
                and orderMoney=#{orderMoney}
            </if>
        </where>
    </select>

    <insert id="insertOrder">
        insert into `order` (userId, productId, orderState, orderDate, orderMoney)
        values (#{userId}, #{productId}, #{orderState}, #{orderDate}, #{orderMoney})
    </insert>

    <update id="updateOrderState">
        update `order`
        set orderState=#{newState}
        <where>
            <if test="orderId!=null">
                orderId=#{orderId}
            </if>
            <if test="userId!=null">
                and userId=#{userId}
            </if>
            <if test="productId!=null">
                and productId=#{productId}
            </if>
            <if test="orderState!=null">
                and orderState=#{orderState}
            </if>
            <if test="orderDate!=null">
                and orderDate=#{orderDate}
            </if>
            <if test="orderMoney!=null">
                and orderMoney=#{orderMoney}
            </if>
        </where>
    </update>

    <delete id="deleteOrderById">
        delete
        from `order`
        where orderId=#{orderId};
    </delete>

</mapper>
