<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!--suppress SqlWithoutWhere -->
<mapper namespace="com.onlineshopping.mapper.OrderMapper">
    <select id="selectOrders" resultType="Order">
        select *
        from `order`
        <where>
            <if test="order.orderId!=null">
                orderId=#{order.orderId}
            </if>
            <if test="order.userId!=null">
                and userId=#{order.userId}
            </if>
            <if test="order.productId!=null">
                and productId=#{order.productId}
            </if>
            <if test="order.orderState!=null">
                and orderState=#{order.orderState}
            </if>
            <if test="order.orderDate!=null">
                and orderDate=#{order.orderDate}
            </if>
            <if test="order.orderMoney!=null">
                and orderMoney=#{order.orderMoney}
            </if>
            <if test="order.orderGroupId!=null">
                and orderGroupId=#{order.orderGroupId}
            </if>
        </where>
        <if test="startRow!=null and startRow>=0 and num!=null and num>=0">
            limit #{startRow},#{num}
        </if>
    </select>

    <select id="selectOrdersByShopId" resultType="Order">
        select orderId, `order`.userId as userId, `order`.productId as productId, orderState, orderDate, orderMoney
        from `order`,product,shop
        <where>
            `order`.productId=product.productId
            and product.shopId=shop.shopId
            and product.shopId=#{shopId}
            <if test="order.orderId!=null">
                and `order`.orderId=#{order.orderId}
            </if>
            <if test="order.userId!=null">
                and `order`.userId=#{order.userId}
            </if>
            <if test="order.productId!=null">
                and `order`.productId=#{order.productId}
            </if>
            <if test="order.orderState!=null">
                and `order`.orderState=#{order.orderState}
            </if>
            <if test="order.orderDate!=null">
                and `order`.orderDate=#{order.orderDate}
            </if>
            <if test="order.orderMoney!=null">
                and `order`.orderMoney=#{order.orderMoney}
            </if>
            <if test="order.orderGroupId!=null">
                and orderGroupId=#{order.orderGroupId}
            </if>
        </where>
        <if test="startRow!=null and startRow>=0 and num!=null and num>=0">
            limit #{startRow},#{num}
        </if>
    </select>

    <select id="selectOrderById" resultType="Order">
        select *
        from `order`
        where orderId = #{orderId}
    </select>

    <select id="countOrders" resultType="int">
        select count(*)
        from `order`
        <where>
            <if test="orderId!=null">
                orderId=#{orderId}
            </if>
            <if test="userId!=null">
                and userId=#{userId}
            </if>
            <if test="productId!=null">
                and productId=#{productId}
            </if>
            <if test="orderState!=null">
                and orderState=#{orderState}
            </if>
            <if test="orderDate!=null">
                and orderDate=#{orderDate}
            </if>
            <if test="orderMoney!=null">
                and orderMoney=#{orderMoney}
            </if>
            <if test="order.orderGroupId!=null">
                and orderGroupId=#{order.orderGroupId}
            </if>
        </where>
    </select>

    <select id="countOrdersByShopId" resultType="int">
        select count(*) from `order`,product,shop
        <where>
            `order`.productId=product.productId
            and product.shopId=shop.shopId
            and product.shopId=#{shopId}
            <if test="order.orderId!=null">
                and `order`.orderId=#{order.orderId}
            </if>
            <if test="order.userId!=null">
                and `order`.userId=#{order.userId}
            </if>
            <if test="order.productId!=null">
                and `order`.productId=#{order.productId}
            </if>
            <if test="order.orderState!=null">
                and `order`.orderState=#{order.orderState}
            </if>
            <if test="order.orderDate!=null">
                and `order`.orderDate=#{order.orderDate}
            </if>
            <if test="order.orderMoney!=null">
                and `order`.orderMoney=#{order.orderMoney}
            </if>
            <if test="order.orderGroupId!=null">
                and orderGroupId=#{order.orderGroupId}
            </if>
        </where>
    </select>

    <insert id="insertOrder">
        insert into `order` (userId, productId, orderState, orderDate, orderMoney,productNum,orderGroupId)
        values (#{userId}, #{productId}, #{orderState}, #{orderDate}, #{orderMoney},#{productNum},#{orderGroupId})
    </insert>

    <update id="updateOrderInfo">
        update `order`
        <set>
            <if test="userId!=null">
                userId=#{userId}
            </if>
            <if test="productId!=null">
                , productId=#{productId}
            </if>
            <if test="orderState!=null">
                , orderState=#{orderState}
            </if>
            <if test="orderDate!=null">
                , orderDate=#{orderDate}
            </if>
            <if test="orderMoney!=null">
                , orderMoney=#{orderMoney}
            </if>
            <if test="productNum!=null">
                , productNum=#{productNum}
            </if>
            <if test="orderGroupId">
                , orderGroupId=#{orderGroupId}
            </if>
        </set>
        where orderId=#{orderId}
    </update>

    <update id="updateOrderState">
        update `order`
        set orderState=#{newState}
        <where>
            <if test="order.orderId!=null">
                orderId=#{order.orderId}
            </if>
            <if test="order.userId!=null">
                and userId=#{order.userId}
            </if>
            <if test="order.productId!=null">
                and productId=#{order.productId}
            </if>
            <if test="order.orderState!=null">
                and orderState=#{order.orderState}
            </if>
            <if test="order.orderDate!=null">
                and orderDate=#{order.orderDate}
            </if>
            <if test="order.orderMoney!=null">
                and orderMoney=#{order.orderMoney}
            </if>
            <if test="productNum!=null">
                and productNum=#{productNum}
            </if>
            <if test="orderGroupId">
                and orderGroupId=#{orderGroupId}
            </if>
        </where>
    </update>

    <delete id="deleteOrderById">
        delete
        from `order`
        where orderId = #{orderId};
    </delete>

    <select id="getMaxGroupId" resultType="int">
        select max(orderGroupId) from `order`
    </select>

</mapper>
