<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.ProductMapper">

    <select id="selectProductsBySingleAttr" resultType="Product">
        select *
        from `product`
        where ${fieldName} = #{fieldValue}
        order by productId
    </select>

</mapper>
