<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.ProductRecordMapper">
    <select id="selectProductRecords" resultType="ProductRecord">
        select *
        from productRecord
        <where>
            <if test="productRecord.productRecordId!=null">
                productRecordId=#{productRecord.productRecordId}
            </if>
            <if test="productRecord.productId!=null">
                and productId=#{productRecord.productId}
            </if>
            <if test="productRecord.productRecordDate!=null">
                and productRecordDate=#{productRecord.productRecordDate}
            </if>
            <if test="productRecord.productRecordComment!=null">
                and productRecordComment=#{productRecord.productRecordComment}
            </if>
            <if test="productRecord.productRecordState!=null">
                and productRecordState=#{productRecord.productRecordState}
            </if>
        </where>
        <if test="startRow!=null and startRow>=0 and num!=null and num>=0">
            limit #{startRow},#{num}
        </if>
    </select>

    <select id="selectProductRecordsByShopId" resultType="ProductRecord">
        select productRecordId,productRecord.productId as productId,productRecordDate,productRecordComment,productRecordState
        from productRecord,product
        <where>
            productRecord.productId=product.productId
            <if test="shopId!=null">
                and product.shopId=shopId
            </if>
            <if test="productRecord.productRecordId!=null">
                and productRecord.productRecordId=#{productRecord.productRecordId}
            </if>
            <if test="productRecord.productId!=null">
                and productRecord.productId=#{productRecord.productId}
            </if>
            <if test="productRecord.productRecordDate!=null">
                and productRecord.productRecordDate=#{productRecord.productRecordDate}
            </if>
            <if test="productRecord.productRecordComment!=null">
                and productRecord.productRecordComment=#{productRecord.productRecordComment}
            </if>
            <if test="productRecord.productRecordState!=null">
                and productRecord.productRecordState=#{productRecord.productRecordState}
            </if>
        </where>
        <if test="startRow!=null and startRow>=0 and num!=null and num>=0">
            limit #{startRow},#{num}
        </if>
    </select>

    <select id="countProductRecords" resultType="int">
        select count(*)
        from productRecord
        <where>
            <if test="productRecordId!=null">
                productRecordId=#{productRecordId}
            </if>
            <if test="productId!=null">
                and productId=#{productId}
            </if>
            <if test="productRecordDate!=null">
                and productRecordDate=#{productRecordDate}
            </if>
            <if test="productRecordComment!=null">
                and productRecordComment=#{productRecordComment}
            </if>
            <if test="productRecordState!=null">
                and productRecordState=#{productRecordState}
            </if>
        </where>
    </select>

    <insert id="insertProductRecord">
        insert into productRecord (productId, productRecordDate, productRecordComment, productRecordState)
        values (#{productId}, #{productRecordDate}, #{productRecordComment}, #{productRecordState})
    </insert>

    <update id="updateProductRecordState">
        update productRecord
        set productRecordState=#{newState}
        <where>
            <if test="productRecordId!=null">
                productRecordId=#{productRecordId}
            </if>
            <if test="productId!=null">
                and productId=#{productId}
            </if>
            <if test="productRecordDate!=null">
                and productRecordDate=#{productRecordDate}
            </if>
            <if test="productRecordComment!=null">
                and productRecordComment=#{productRecordComment}
            </if>
            <if test="productRecordState!=null">
                and productRecordState=#{productRecordState}
            </if>
        </where>
    </update>

    <update id="updateProductRecordById">
        update productRecord
        <set>
            <if test="productId!=null">
                productId=#{productId}
            </if>
            <if test="productRecordDate!=null">
                ,productRecordDate=#{productRecordDate}
            </if>
            <if test="productRecordComment!=null">
                ,productRecordComment=#{productRecordComment}
            </if>
            <if test="productRecordState!=null">
                ,productRecordState=#{productRecordState}
            </if>
        </set>
        where productRecordId=#{productRecordId}
    </update>

</mapper>
