<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.ProductMapper">

    <select id="selectProductById" resultType="Product">
        select * from product
        where productId=#{productId}
    </select>

    <select id="selectProducts" resultType="Product">
        select *
        from `product`
        <where>
            <if test="product.productId!=null">
                productId=#{product.productId}
            </if>
            <if test="product.shopId!=null">
                and shopId=#{product.shopId}
            </if>
            <if test="product.productName!=null">
                and productName=#{product.productName}
            </if>
            <if test="product.productState!=null">
                and productState=#{product.productState}
            </if>
            <if test="product.productIntro!=null">
                and productIntro=#{product.productIntro}
            </if>
        </where>
        <if test="startRow!=null and startRow>=0 and num!=null and num>=0">
            limit #{startRow},#{num}
        </if>
    </select>

    <select id="countProducts" resultType="int">
        select count(*)
        from `product`
        <where>
            <if test="productId!=null">
                productId=#{productId}
            </if>
            <if test="shopId!=null">
                and shopId=#{shopId}
            </if>
            <if test="productName!=null">
                and productName=#{productName}
            </if>
            <if test="productState!=null">
                and productState=#{productState}
            </if>
            <if test="productIntro!=null">
                and productIntro=#{productIntro}
            </if>
        </where>
    </select>

    <insert id="insertProduct">
        insert into `product` (shopId, productName,productState,productIntro,productPrice)
        values (#{shopId}, #{productName},#{productState},#{productIntro},#{productPrice})
    </insert>

    <update id="updateProductInfo">
        update `product`
        <set>
            <if test="product.productName!=null">
                productName=#{product.productName}
            </if>
            <if test="product.productIntro!=null">
                ,productIntro=#{product.productIntro}
            </if>
        </set>
        where productId=#{productId}
    </update>

    <update id="updateProductState">
        update `product`
        set productState=#{newState}
        <where>
            <if test="product.productId!=null">
                productId=#{product.productId}
            </if>
            <if test="product.shopId!=null">
                and shopId=#{product.shopId}
            </if>
            <if test="product.productName!=null">
                and productName=#{product.productName}
            </if>
            <if test="product.productState!=null">
                and productState=#{product.productState}
            </if>
            <if test="product.productIntro!=null">
                and productIntro=#{product.productIntro}
            </if>
        </where>
    </update>

<!--    <delete id="deleteProductsByShopId">-->
<!--        delete-->
<!--        from `product`-->
<!--        where shopId = #{shopId}-->
<!--    </delete>-->

<!--    <delete id="deleteProductsByProductId">-->
<!--        delete-->
<!--        from `product`-->
<!--        where productId = #{productId}-->
<!--    </delete>-->

</mapper>
