<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.ShopRecordMapper">
    <select id="selectShopRecords" resultType="ShopRecord">
        select *
        from shopRecord
        <where>
            <if test="shopRecord.shopRecordId!=null">
                shopRecordId=#{shopRecord.shopRecordId}
            </if>
            <if test="shopRecord.shopId!=null">
                and shopId=#{shopRecord.shopId}
            </if>
            <if test="shopRecord.shopRecordDate!=null">
                and shopRecordDate=#{shopRecord.shopRecordDate}
            </if>
            <if test="shopRecord.shopRecordComment!=null">
                and shopRecordComment=#{shopRecord.shopRecordComment}
            </if>
            <if test="shopRecord.shopRecordState!=null">
                and shopRecordState=#{shopRecord.shopRecordState}
            </if>
        </where>
        <if test="startRow!=null and startRow>=0 and num!=null and num>=0">
            limit #{startRow},#{num}
        </if>
    </select>

    <select id="countShopRecords" resultType="int">
        select count(*)
        from shopRecord
        <where>
            <if test="shopRecordId!=null">
                shopRecordId=#{shopRecordId}
            </if>
            <if test="shopId!=null">
                and shopId=#{shopId}
            </if>
            <if test="shopRecordDate!=null">
                and shopRecordDate=#{shopRecordDate}
            </if>
            <if test="shopRecordComment!=null">
                and shopRecordComment=#{shopRecordComment}
            </if>
            <if test="shopRecordState!=null">
                and shopRecordState=#{shopRecordState}
            </if>
        </where>
    </select>

    <insert id="insertShopRecord">
        insert into shoprecord (shopId, shopRecordDate, shopRecordComment, shopRecordState)
        values (#{shopId}, #{shopRecordDate}, #{shopRecordComment}, #{shopRecordState})
    </insert>

    <update id="updateShopRecordState">
        update shopRecord
        set shopRecordState=#{newState}
        <where>
            <if test="shopRecord.shopRecordId!=null">
                shopRecordId=#{shopRecord.shopRecordId}
            </if>
            <if test="shopRecord.shopId!=null">
                and shopId=#{shopRecord.shopId}
            </if>
            <if test="shopRecord.shopRecordDate!=null">
                and shopRecordDate=#{shopRecord.shopRecordDate}
            </if>
            <if test="shopRecord.shopRecordComment!=null">
                and shopRecordComment=#{shopRecord.shopRecordComment}
            </if>
            <if test="shopRecord.shopRecordState!=null">
                and shopRecordState=#{shopRecord.shopRecordState}
            </if>
        </where>
    </update>

    <update id="updateShopRecordById">
        update shopRecord
        <set>
            <if test="shopId!=null">
                shopId=#{shopId}
            </if>
            <if test="shopRecordDate!=null">
                ,shopRecordDate=#{shopRecordDate}
            </if>
            <if test="shopRecordComment!=null">
                , shopRecordComment=#{shopRecordComment}
            </if>
            <if test="shopRecordState!=null">
                , shopRecordState=#{shopRecordState}
            </if>
        </set>
        where shopRecordId=#{shopRecordId}
    </update>

</mapper>
