<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.ShopMapper">

    <select id="selectShopByShopId" resultType="Shop">
        select * from shop
        where shopId=#{shopId}
    </select>
    <select id="selectShopByUserId" resultType="Shop">
        select * from shop
        where userId=#{userId}
    </select>

    <select id="selectShops" resultType="Shop">
        select *
        from `shop`
        <where>
            <if test="shopId">
                shopId=#{shopId}
            </if>
            <if test="userId">
                and userId=#{userId}
            </if>
            <if test="shopName">
                and shopName=#{shopName}
            </if>
            <if test="shopIntro">
                and shopIntro=#{shopIntro}
            </if>
            <if test="shopAddr">
                and shopAddr=#{shopAddr}
            </if>
            <if test="shopRegisterFund">
                and shopRegisterFund=#{shopRegisterFund}
            </if>
            <if test="shopRegisterDate">
                and shopRegisterDate=#{shopRegisterDate}
            </if>
            <if test="shopState!=null">
                shopState=#{shopState}
            </if>
        </where>
        <if test="startRow!=null and startRow>=0 and num!=null and num>=0">
            limit #{startRow},#{num}
        </if>
    </select>

    <select id="countShops" resultType="int">
        select count(*)
        from `shop`
        <where>
            <if test="shopId">
                shopId=#{shopId}
            </if>
            <if test="userId">
                and userId=#{userId}
            </if>
            <if test="shopName">
                and shopName=#{shopName}
            </if>
            <if test="shopIntro">
                and shopIntro=#{shopIntro}
            </if>
            <if test="shopAddr">
                and shopAddr=#{shopAddr}
            </if>
            <if test="shopRegisterFund">
                and shopRegisterFund=#{shopRegisterFund}
            </if>
            <if test="shopRegisterDate">
                and shopRegisterDate=#{shopRegisterDate}
            </if>
            <if test="shopState!=null">
                shopState=#{shopState}
            </if>
        </where>
    </select>

    <insert id="insertShop">
        insert into `shop` (userid, shopName, shopIntro, shopAddr, shopRegisterFund, shopRegisterDate, shopState)
        values (#{userId}, #{shopName}, #{shopIntro}, #{shopAddr}, #{shopRegisterFund}, CURRENT_DATE, 0)
    </insert>

    <update id="updateShopInfo">
        update `shop`
        <set>
            <if test="shopName!=null">
                shopName = #{shopName},
            </if>
            <if test="shopIntro!=null">
                shopIntro = #{shopIntro},
            </if>
            <if test="shopAddr!=null">
                shopAddr = #{shopAddr},
            </if>
            <if test="shopRegisterFund!=null">
                shopRegisterFund = #{shopRegisterFund},
            </if>
            <if test="shopState!=null">
                shopState=#{shopState}
            </if>
        </set>
        <where>
            <if test="userId!=null">
                userId=#{userId}
            </if>
            <if test="shopId!=null">
                and shopId=#{shopId}
            </if>
        </where>
    </update>

<!--    <update id="changeShopOpen">-->
<!--        update `shop`-->
<!--        set shopState=#{isApprove}-->
<!--        where shopId = #{shopId}-->
<!--    </update>-->

<!--    <delete id="deleteShopByShopId">-->
<!--        delete-->
<!--        from `shop`-->
<!--        where shopId = #{shopId}-->
<!--    </delete>-->

</mapper>
