<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.ShopMapper">

    <select id="selectShopsByRangeAndShopIsOpen" resultType="Shop">
        select *
        from `shop`
        where shopIsOpen = #{shopIsOpen}
        order by shopId
        limit ${startRow}, ${number}
    </select>

    <select id="selectShopsBySingleAttr" resultType="Shop">
        select *
        from `shop`
        where ${fieldName} = #{fieldValue}
        order by shopId
    </select>

    <insert id="insertShop">
        insert into `shop` (userid, shopName, shopIntro, shopAddr, shopRegisterFund, shopRegisterDate, shopIsOpen)
        values (#{userId}, #{shopName}, #{shopIntro}, #{shopAddr}, #{shopRegisterFund}, CURRENT_DATE, 0)
    </insert>

    <update id="updateShopInfo">
        update `shop`
        <set>
            <if test="shopName!=null">
                shopName = #{shopName},
            </if>
            <if test="shopIntro!=null">
                shopIntro = #{shopIntro},
            </if>
            <if test="shopAddr!=null">
                shopAddr = #{shopAddr},
            </if>
            <if test="shopRegisterFund!=null">
                shopRegisterFund = #{shopRegisterFund},
            </if>
            <if test="shopIsOpen!=null">
                shopIsOpen=#{shopIsOpen}
            </if>
        </set>
        <where>
            <if test="userId!=null">
                userId=#{userId}
            </if>
            <if test="shopId!=null">
                and shopId=#{shopId}
            </if>
        </where>
    </update>

    <update id="changeShopOpen">
        update `shop`
        set shopIsOpen=#{isApprove}
        where shopId = #{shopId}
    </update>

    <delete id="deleteShopByShopId">
        delete
        from `shop`
        where shopId = #{shopId}
    </delete>

</mapper>
