<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.onlineshopping.mapper.UserMapper">

    <select id="selectUsersBySingleAttr" resultType="User">
        select *
        from `user`
        where ${fieldName} = #{fieldValue}
        order by userId
    </select>

    <insert id="insertUser">
        insert into `user`(userRole, userName, userPhone, userIdCard, userEmail, userPwd)
        values (#{userRole}, #{userName}, #{userPhone}, #{userIdCard}, #{userEmail}, #{userPwd})
    </insert>

    <update id="updateUserInfo">
        update `user`
        <set>
            <if test="userName!=null">
                userName = #{userName},
            </if>
            <if test="userPhone!=null">
                userPhone = #{userPhone},
            </if>
            <if test="userEmail!=null">
                userEmail = #{userEmail},
            </if>
            <if test="userPwd!=null">
                userPwd = #{userPwd}
            </if>
        </set>
        where userId = #{userId}
    </update>

</mapper>
